.navbar.navbar-default.navbar-fixed-top
  .container.col-md-6.col-md-offset-3
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle Nagivation
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li(class=title=='Home'?'active':undefined)
          a(style="font-size: 1.4em;", href='/') <b>CTS</b>
        li(class=title=='Documentation'?'active':undefined)
          a(href='/documentation') Documentation
        li(class=title=='Demos'?'active':undefined)
          a(href='/demos') Demos
        li(class=title=='Scratch'?'active':undefined)
          a(href='/scratch') Scratch
        li(class=title=='About'?'active':undefined)
          a(href='/about') About
