extends ../layouts/basic

block title
  h1=name
    |  Widget
  img.widget-banner(src=bannerUrl)

  p.large=description

block content
  .alert.alert-info See a 
    a.alert-link(href=exampleUrl)
      = "working " + name + " example"
  
  section.example!=exampleHtml
