extends ../layouts/snippet

block head
  style.

block title
  h1 CTS Proxy Browser

block content
  div.row.snippet-title
    .col-md-8.snippet-name
      input#snippet-name(value=snippet.name)
      button#save-btn.btn-primary.btn(data-csrf=token) Save
    .col-md-4
      ul.nav.navbar-nav.navbar-right(style="margin-right: 10px")
        if !user
          li(class=title=='Login'?'active':undefined)
            a(href='/login') Login
          if secrets.localAuth
            li(class=title=='Create Account'?'active':undefined)
              a(href='/signup') Create Account
        else
          li.dropdown(class=title=='Account Management'?'active':undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              if user.profile.picture
                img.profile-image(src='#{user.profile.picture}')
              else
                img.profile-image(src='#{user.gravatar(60)}')
              | #{user.profile.name || user.email || user.id}&nbsp;
              i.caret
            ul.dropdown-menu
              li: a(href='/account') My Account
              li.divider
              li: a(href='/logout') Logout


  div.row.full#harness(data-snippetid=snippet.id)

  script.
    CTS.status.libraryLoaded.then(function() {
      window.editor = new CTS.UI.ProxyEditor(CTS.$, CTS.Q, CTS.$('#harness'));
      CTS.$('#save-btn').on('click', function() {
        window.editor.setName(CTS.$('#snippet-name').val());
        var csrf = CTS.$('#save-btn').data('csrf');
        window.editor.save(csrf);
      });
    });
